
.container {
    display: flex;
    flex-direction: column;
}

.headBar {
    display: flex;
    margin:10px;
}

.order {
    margin-right: 5px;
}

.row {
    display: flex;
}

.parts {
    display: flex;
    flex-direction: column;
}

.tune {
    display: flex;
    margin-left: 20px;

}