.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(138, 66, 255);
    border-radius: 5px;
}


.setting:nth-child(odd) {
    background-color: rgba(55, 0, 255, 0.11);
}

.setting {
    display: flex;
    padding: 5px;
}

.setting .name {
    width:250px;
    display: flex;
}

